.container {
    width: 400px;
    min-height: 400px;
    margin-left: 60px;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aquamarine;
    margin-top: 20px;
    padding: 10px;
    border: black 2px solid;
}

.section {
    margin-left: auto;
    margin-right: auto;
}

.form_input {
    margin-bottom: 15px;
    height: 15px;
}

.form_label {
    font-weight: 500;
    text-transform: uppercase;
}

.btn {
    margin-right: 10px;
    min-width: 100px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: black 2px solid;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: yellow;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 6px;
    margin-bottom: 30px;
}

.group {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 4px;
}

.button {
    padding: 3px 6px;
    margin: 0 auto;
    border-radius: 3px;
}

.error {
    color: #fb3636;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 6px;
}

.contact_list {
    display: flex;
    flex-direction: column;
    color: black;
}

.inp {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
}